@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0e1538;
}

.box {
  margin-top: 100px;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
}

.box::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: #0e1538;
  border-radius: 16px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box h2 {
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 10;
}

/* Animation-2*/

.loader {
  margin-top: 150px;
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  pointer-events: none;
  animation: animate-2 5s linear infinite;
}

.loader span:nth-child(1) {
  border-radius: 30% 70% 45% 55% / 49% 30% 70% 51%;
}

.loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 30% 70% 45% 55% / 75% 72% 28% 25%;
}

.loader span:nth-child(3) {
  animation-duration: 3s;
  border-radius: 80% 20% 80% 20% / 33% 72% 28% 67%;
}

@keyframes animate-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  color: #fff;
  font-weight: 500s;
}

/* Animation-2*/

.animation-3 {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changeBg 5s linear infinite;
}

.animation-3 .loader {
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(to top, #0e1538 40%, #51eeee);
  border-radius: 50%;
  animation: rotate-3 2s linear infinite;
}

@keyframes rotate-3 {
  to {
    transform: rotate(360deg);
  }
}

.animation-3 .loader::before {
  content: '';
  position: absolute;
  background: #0e1538;
  inset: 20px 20px 0 0;
  border-radius: 50%;
}

.animation-3 .loader::after {
  content: '';
  position: absolute;
  top: 50px;
  right: -8px;
  width: 40px;
  height: 40px;
  background: #51eeee;
  border-radius: 50%;
  box-shadow: 0 0 5px #51eeee, 0 0 25px #51eeee, 0 0 50px #51eeee,
    0 0 75px #51eeee;
}

/* Animation-4*/

.animation-4 {
  margin-top: 150px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
